@model WebApplication.Models.ViewModels.PlanOfPayment

@{
    ViewBag.Title = "График";
}

<h2 style="color: white;">График</h2>

<table class="table" style="background-color: #01b075;">
    <tr>
        <th>
            @("Дата платежа")
        </th>
        <th>
            @("К оплате")
        </th>
    </tr>

    @foreach (var item in Model.PaymentSchedule)
    {
        string style = item.Key < Model.CurrentDay ? "Green" : "FireBrick";
        <tr  style="background-color:@style">
            <td>
                @item.Key.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Вернуться к списку", "Details", new { creditId = Model.CreditId })
</p>
