@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="display: flex; justify-content: center; background-color: #202125;">
    <h1 style="color: white;">PRBank</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color: white;">ATM</h2>
        <p>
            <a class="btn" style="background-color: #01b075; color: white;" href="@Url.Action("Index", "ATM")">Перейти на страницу ATM</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white;">Банк</h2>
        <p>
            <a class="btn" style="background-color: #01b075; color: white;" href="@Url.Action("Index", "Bank")">Перейти на страницу банка</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white;">Клиенты</h2>
        <p>
            <a class="btn" style="background-color: #01b075; color: white;" href="@Url.Action("Index", "Client")">Перейти на страницу клиентов</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 style="color: white;">Депозиты</h2>
        <p>
            <a class="btn" style="background-color: #01b075; color: white;" href="@Url.Action("Index", "Deposit")">Перейти на страницу депозитов</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2 style="color: white;">Кредиты</h2>
        <p>
            <a class="btn" style="background-color: #01b075; color: white;" href="@Url.Action("Index", "Credit")">Перейти на страницу кредитов</a>
        </p>
    </div>
</div>
