@model WebApplication.Models.ViewModels.Client

@{
    ViewBag.Title = "Удалить клиента";
}

<style>
    .btn {
        background-color: white;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .btn:hover {
        background-color: #4CAF50;
        color: white;
    }
</style>

<div>
    <button onclick="window.location.href='@Url.Action("Index")'" class="btn">Назад</button>
</div>
<div style="width:50%; margin:50px auto; border:1px solid #ddd; padding:20px;">
    <h3 style="text-align:center;">Вы уверены?</h3>
    <hr style="border-top:1px solid #ddd;"> <table style="width:100%;">
    <tr>
        <th style=" width: 49%; text-align:right; padding-right: 20px;">
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <td> @Html.DisplayFor(model => model.Surname) </td>
    </tr>
    <tr>
        <th style="text-align:right; padding-right:20px;">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <td> @Html.DisplayFor(model => model.Name) </td>
    </tr>
    <tr>
        <th style="text-align:right; padding-right:20px;">
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <td> @Html.DisplayFor(model => model.Patronymic) </td>
    </tr>
    <tr>
        <th style="text-align:right; padding-right:20px;">
            @Html.DisplayNameFor(model => model.IdentificationNumber)
        </th>
        <td> @Html.DisplayFor(model => model.IdentificationNumber) </td>
    </tr>
    <tr>
        <th style="text-align:right; padding-right:20px;">
            @Html.DisplayNameFor(model => model.PassportSeries)
        </th>
        <td> @Html.DisplayFor(model => model.PassportSeries) </td>
    </tr>
    <tr>
        <th style="text-align:right; padding-right:20px;">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </th>
        <td> @Html.DisplayFor(model => model.PassportNumber) </td>
    </tr>
</table>
    <hr style="border-top:1px solid #ddd;">
    <div style="text-align:center;">
        @using (Html.BeginForm())
        {@Html.AntiForgeryToken()
        <input type="submit" value="Удалить" class="btn" style="margin-right:20px;" />
    }
    </div>
</div>
