@{
    // Retrieve SystemInformationService using DependencyResolver
    var systemInformationService = DependencyResolver.Current.GetService<Services.Common.ISystemInformationService>();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        @Html.ActionLink("ОАО \"Лучший банк на свете\"", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <div class="navbar-text mx-auto">Текущий день - @systemInformationService.CurrentBankDay.ToString("dd/MM/yyyy")</div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "ATM")">ATM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Bank")">Банк</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Client")">Клиенты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Deposit")">Депозиты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Credit")">Кредиты</a>
                </li>
            </ul>
        </div>
    </nav>


    <br />
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>