@model IEnumerable<WebApplication.Models.ViewModels.Deposit>

@{
    ViewBag.Title = "Договоры";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }


    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }

    .btn {
        background-color: white;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;
    }

    .container-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }
</style>

<div class="container-title">
    <h2>Договоры</h2>
    <div>
        <button class="btn" onclick="window.location.href='@Url.Action("Create")'">Создать новый договор</button>
        <button class="btn" onclick="window.location.href='@Url.Action("Index","PlanOfDeposit" )'">Депозитные планы</button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlanOfDeposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string style = item.Amount == 0 ? "grey" : "";
        <tr style="background-color: @style">
            <td>
                @Html.DisplayFor(modelItem => item.PlanOfDeposit.Name)
            </td>
            <td>
                @Html.ActionLink($"{item.Client.Surname} {item.Client.Name} {item.Client.Patronymic}", "Details", "Client", new { id = item.Client.Id }, new { })
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.ActionLink("Детали", "Details", new { depositId = item.Id })
            </td>
        </tr>
    }
</table>

