@model WebApplication.Models.ViewModels.PlanOfCredit

@{
    ViewBag.Title = "Создать план";
}

<style>
    .form-container {
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-size: 18px;
        color: #333;
    }

    .custom-input {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 100%;
        display: block;
        height: calc(1.5em + 0.75rem + 2px);
        background-color: #fff;
        background-clip: padding-box;
        font-size: 16px;
        color: #555;
    }

    .checkbox label {
        font-weight: normal;
    }

    .btn {
        background-color: white;
        border: 2px solid #4CAF50;
        color: #4CAF50;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }

        .btn:hover {
            background-color: #4CAF50;
            color: white;
        }

    .col-md-10 {
        flex: 1;
        margin-left: 0;
    }

    .col-md-offset-2 {
        margin-left: 0;
    }

    .center {
        display: flex;
        justify-content: center; /* Выравнивание по горизонтали */
        align-items: center;
    }
</style>

<div>
    <button onclick="window.location.href='@Url.Action("Index")'" class="btn">Назад</button>
</div>
<div class="form-container">
    <h2 class="center">Создание плана</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "custom-input" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MonthPeriod, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.MonthPeriod, new { htmlAttributes = new { @class = "custom-input" } })
        @Html.ValidationMessageFor(model => model.MonthPeriod, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Percent, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Percent, new { htmlAttributes = new { @class = "custom-input" } })
        @Html.ValidationMessageFor(model => model.Percent, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Anuity, htmlAttributes: new { @class = "control-label" })
        <div class="checkbox">
            @Html.EditorFor(model => model.Anuity)
            @Html.ValidationMessageFor(model => model.Anuity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CurrencyId, htmlAttributes: new { @class = "control-label" })
        @Html.DropDownListFor(model => model.CurrencyId, Model.Currencies.Select(e => new SelectListItem()
        {
            Text = e.Name,
            Value = e.Id.ToString(),
        }), new { @class = "custom-input" })
        @Html.ValidationMessageFor(model => model.CurrencyId, "", new { @class = "text-danger" })
    </div>

    <div class="center">
        <div class="form-group">
            <input type="submit" value="Создать" class="btn" />
        </div>
    </div>
</div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
